@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

*{
    margin: 0 ;
    padding: 0 ; 
    box-sizing: border-box; 
    font-family: "Inter", sans-serif;
}
body{
    background-image: url(../src/bg1.png);
   color: #cfcfcf;
}




.container{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    
    width: 100%;
    max-width: 400px;
    border-radius: 13px;
    padding: 20px;
    
}

.login > h2{

    text-align: center;
    font-weight: 800;
    font-size:1.5rem;
    margin-bottom:20px;

}
.login__Form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.login__Input{
    border: none;
    padding: 10px;
    width: 70%;
    border-radius:2rem;
    background-color: #ffffff;
   

}
.login__Input:focus{
    outline: 2px solid #131313;
}
.login__Button{
    border: none;
    padding: 10px;
    font-weight: 500;
    width: 20%;
    border-radius:2rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.login__Button:hover{
    background-color: rgb(255, 255, 255);
}

.chat{
    color: #0f0f0f;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.chat__Messages{
    flex-grow: 1;
    padding: 25px 25px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chat__Form{
    background-color: #03030300;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    gap: 10px;  
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.chat__Input{
    border: none;
    padding: 15px;
    border-radius: 3px;
    flex-grow: 1;
    border-radius: 2rem;
    background-color: #000000b6;
    color: #ffffff;
    outline: none;
    font-size: 1rem;
    opacity:  80%;
}
.chat__Button{
    border: none;
    background-color: #cfcfcf;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.2s;
    border-radius: 2cap ;
}
.chat__Button > span{
    font-size: 1.8rem;
}
.chat__Button:hover{   
    background-color: #ffffff;
    border-radius: 1.6cap;
}
.chat__Messages > div {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    font-size: 0.9rem;
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 20px;
}

.other__Message{
    background-color:#232324;
    border-radius: 0px 11px 11px 15px;
    align-self: flex-start;
    color: #ffffff;
}
.message__Sender{
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(0, 70, 175);
}

.self__Message{

    background-color: #cfcfcf;
    color: #121212;
    border-radius: 8px 4px 16px 8px;
    align-self: flex-end;
}